<!DOCTYPE html>
<html lang="en">

<head>
    <title>homepage</title>
    <meta http-equiv="content-type" content="text/html" ; charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/layui/css/layui.css" type="text/css"></link>
    <script type="text/javascript" src="layui/layui.all.js"></script>

    <link rel="stylesheet" type="text/css" href="../static/css/iconfont.css">
    <link rel="stylesheet" type="text/css" href="../static/css/left-side.css">

    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.slimscroll.min.js"></script>
    <script type="text/javascript" src="../static/js/left-side-menu.js"></script>

    <link rel="stylesheet" type="text/css" href="../static/css/search.css">
    <script type="text/javascript" src="../static/js/search.js"></script>
</head>

<body background="../static/background.png">
    <div class="container">
        <div class="left-side-menu" style="float:left;">
            <div class="lsm-expand-btn">
                <div class="lsm-mini-btn">
                    <label>
                <input type="checkbox" checked="checked">
                <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="50" cy="50" r="30" />
                    <path class="line--1" d="M0 40h62c18 0 18-20-17 5L31 55" />
                    <path class="line--2" d="M0 50h80" />
                    <path class="line--3" d="M0 60h62c18 0 18 20-17-5L31 45" />
                </svg>
            </label>

                </div>
                <!--Menu-->

            </div>
            <div class="lsm-container">
                <div class="lsm-scroll">
                    <div class="lsm-sidebar">
                        <ul>
                            <li class="lsm-sidebar-item">
                                <a href="genres details.html"><i class="iconfont lsm-sidebar-icon icon_1"></i><span>Action</span><i class="my-icon lsm-sidebar-more"></i></a>
                            </li>
                            <li class="lsm-sidebar-item">
                                <a href="genres details.html"><i class="iconfont lsm-sidebar-icon icon_2"></i><span>Thriller</span><i class="my-icon lsm-sidebar-more"></i></a>
                            </li>
                            <li class="lsm-sidebar-item">
                                <a href="genres details.html"><i class="iconfont lsm-sidebar-icon icon_3"></i><span>Drama</span><i class="my-icon lsm-sidebar-more"></i></a>
                            </li>
                            <li class="lsm-sidebar-item">
                                <a href="genres details.html"><i class="iconfont lsm-sidebar-icon icon_4"></i><span>Mystery</span><i class="my-icon lsm-sidebar-more"></i></a>
                            </li>
                            <li class="lsm-sidebar-item">
                                <a href="genres details.html"><i class="iconfont lsm-sidebar-icon icon_5"></i><span>Crime</span><i class="my-icon lsm-sidebar-more"></i></a>
                            </li>
                            <li class="lsm-sidebar-item">
                                <a href="genres details.html"><i class="iconfont lsm-sidebar-icon icon_6"></i><span>Animation</span><i class="my-icon lsm-sidebar-more"></i></a>
                            </li>
                            <li class="lsm-sidebar-item">
                                <a href="genres details.html"><i class="iconfont lsm-sidebar-icon icon_7"></i><span>Adventure</span><i class="my-icon lsm-sidebar-more"></i></a>
                            </li>
                            <li class="lsm-sidebar-item">
                                <a href="genres details.html"><i class="iconfont lsm-sidebar-icon icon_8"></i><span>Fantasy</span><i class="my-icon lsm-sidebar-more"></i></a>
                            </li>
                            <li class="lsm-sidebar-item">
                                <a href="genres details.html"><i class="iconfont lsm-sidebar-icon icon_9"></i><span>Comedy</span><i class="my-icon lsm-sidebar-more"></i></a>
                            </li>
                            <li class="lsm-sidebar-item">
                                <a href="genres details.html"><i class="iconfont lsm-sidebar-icon icon_10"></i><span>Sci-fi</span><i class="my-icon lsm-sidebar-more"></i></a>
                            </li>
                            <li class="lsm-sidebar-item">
                                <a href="genres details.html"><i class="iconfont lsm-sidebar-icon icon_11"></i><span>Horror</span><i class="my-icon lsm-sidebar-more"></i></a>
                            </li>
                            <li class="lsm-sidebar-item">
                                <a href="genres details.html"><i class="iconfont lsm-sidebar-icon icon_12"></i><span>Romance</span><i class="my-icon lsm-sidebar-more"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="layui-container" style="float: right;">

            <!-- search -->
            <div class="layui-row">
                <div class="layui-col-md6 layui-col-md-offset3">
                    <div class="jq22-search-form" style="margin-left: -15%;">
                        <div id="search-bd" class="search-bd">
                            <ul>
                                <li class="selected">All</li>
                                <li>Name</li>
                                <li>Director</li>
                                <li>Actor</li>
                                <li>Keywords</li>
                            </ul>
                        </div>
                        <div id="search-hd" class="search-hd">
                            <div class="search-bg"></div>
                            <input type="text" id="s1" class="search-input">
                            <input type="text" id="s2" class="search-input">
                            <input type="text" id="s3" class="search-input">
                            <input type="text" id="s4" class="search-input">
                            <input type="text" id="s5" class="search-input">
                            <span class="s1 pholder">Search movies</span>
                            <span class="s2 pholder">Search by name</span>
                            <span class="s3 pholder">Search by director</span>
                            <span class="s4 pholder">Search by actor</span>
                            <span class="s5 pholder">Search by keywords</span>
                            <a href="search results.html"><button id="submit" class="btn-search" value="search"><i class="layui-icon" style="font-size: 23px">&#xe609;</i></button></a>
                        </div>
                    </div>
                </div>
            </div>



            <!-- Top movies  -->
            <div class="layui-row" style="margin-top: 3%;">
                <div class="layui-col-md6" style="margin-top: -30px;">
                    <p style="line-height:2.4;color:rgb(218, 187, 12); font-size:30px">
                        Top movies
                    </p>
                </div>
            </div>


            <!-- 轮播图片 -->
            <div class="layui-row" style="margin-top: 2%;">
                <div class="layui-carousel" id="test1">
                    <div carousel-item>
                        <div>
                            <div class="layui-col-md2">
                                <a href="movie details.html">
                                    <!-- more_movie_details，对应数据库字段 url：Film.imdb_url -->
                                    <img src="../static/godfather.jpg" width="220" height="320">
                                    <!-- image，对应对数据字段：Film.image -->
                                </a>
                            </div>

                            <div class="layui-col-md2">
                                <a href="movie details.html">
                                    <!-- more_movie_details，对应数据库字段 url：Film.imdb_url -->
                                    <img src="../static/godfather.jpg" width="220" height="320">
                                    <!-- image，对应对数据字段：Film.image -->
                                </a>
                            </div>

                            <div class="layui-col-md2">
                                <a href="movie details.html">
                                    <!-- more_movie_details，对应数据库字段 url：Film.imdb_url -->
                                    <img src="../static/godfather.jpg" width="220" height="320">
                                    <!-- image，对应对数据字段：Film.image -->
                                </a>
                            </div>

                            <div class="layui-col-md2">
                                <a href="movie details.html">
                                    <!-- more_movie_details，对应数据库字段 url：Film.imdb_url -->
                                    <img src="../static/godfather.jpg" width="220" height="320">
                                    <!-- image，对应对数据字段：Film.image -->
                                </a>
                            </div>

                            <div class="layui-col-md2">
                                <a href="movie details.html">
                                    <!-- more_movie_details，对应数据库字段 url：Film.imdb_url -->
                                    <img src="../static/godfather.jpg" width="220" height="320">
                                    <!-- image，对应对数据字段：Film.image -->
                                </a>
                            </div>

                            <div class="layui-col-md2">
                                <a href="movie details.html">
                                    <!-- more_movie_details，对应数据库字段 url：Film.imdb_url -->
                                    <img src="../static/godfather.jpg" width="220" height="320">
                                    <!-- image，对应对数据字段：Film.image -->
                                </a>
                            </div>

                        </div>

                        <div>
                            <div class="layui-col-md2">
                                <a href="movie details.html">
                                    <!-- more_movie_details，对应数据库字段 url：Film.imdb_url -->
                                    <img src="../static/godfather.jpg" width="220" height="320">
                                    <!-- image，对应对数据字段：Film.image -->
                                </a>
                            </div>

                            <div class="layui-col-md2">
                                <a href="movie details.html">
                                    <!-- more_movie_details，对应数据库字段 url：Film.imdb_url -->
                                    <img src="../static/godfather.jpg" width="220" height="320">
                                    <!-- image，对应对数据字段：Film.image -->
                                </a>
                            </div>

                            <div class="layui-col-md2">
                                <a href="movie details.html">
                                    <!-- more_movie_details，对应数据库字段 url：Film.imdb_url -->
                                    <img src="../static/godfather.jpg" width="220" height="320">
                                    <!-- image，对应对数据字段：Film.image -->
                                </a>
                            </div>

                            <div class="layui-col-md2">
                                <a href="movie details.html">
                                    <!-- more_movie_details，对应数据库字段 url：Film.imdb_url -->
                                    <img src="../static/godfather.jpg" width="220" height="320">
                                    <!-- image，对应对数据字段：Film.image -->
                                </a>
                            </div>

                            <div class="layui-col-md2">
                                <a href="movie details.html">
                                    <!-- more_movie_details，对应数据库字段 url：Film.imdb_url -->
                                    <img src="../static/godfather.jpg" width="220" height="320">
                                    <!-- image，对应对数据字段：Film.image -->
                                </a>
                            </div>

                            <div class="layui-col-md2">
                                <a href="movie details.html">
                                    <!-- more_movie_details，对应数据库字段 url：Film.imdb_url -->
                                    <img src="../static/godfather.jpg" width="220" height="320">
                                    <!-- image，对应对数据字段：Film.image -->
                                </a>
                            </div>
                        </div>

                        <div>
                            <div class="layui-col-md2">
                                <a href="movie details.html">
                                    <!-- more_movie_details，对应数据库字段 url：Film.imdb_url -->
                                    <img src="../static/godfather.jpg" width="220" height="320">
                                    <!-- image，对应对数据字段：Film.image -->
                                </a>
                            </div>

                            <div class="layui-col-md2">
                                <a href="movie details.html">
                                    <!-- more_movie_details，对应数据库字段 url：Film.imdb_url -->
                                    <img src="../static/godfather.jpg" width="220" height="320">
                                    <!-- image，对应对数据字段：Film.image -->
                                </a>
                            </div>

                            <div class="layui-col-md2">
                                <a href="movie details.html">
                                    <!-- more_movie_details，对应数据库字段 url：Film.imdb_url -->
                                    <img src="../static/godfather.jpg" width="220" height="320">
                                    <!-- image，对应对数据字段：Film.image -->
                                </a>
                            </div>

                            <div class="layui-col-md2">
                                <a href="movie details.html">
                                    <!-- more_movie_details，对应数据库字段 url：Film.imdb_url -->
                                    <img src="../static/godfather.jpg" width="220" height="320">
                                    <!-- image，对应对数据字段：Film.image -->
                                </a>
                            </div>

                            <div class="layui-col-md2">
                                <a href="movie details.html">
                                    <!-- more_movie_details，对应数据库字段 url：Film.imdb_url -->
                                    <img src="../static/godfather.jpg" width="220" height="320">
                                    <!-- image，对应对数据字段：Film.image -->
                                </a>
                            </div>

                            <div class="layui-col-md2">
                                <a href="movie details.html">
                                    <!-- more_movie_details，对应数据库字段 url：Film.imdb_url -->
                                    <img src="../static/godfather.jpg" width="220" height="320">
                                    <!-- image，对应对数据字段：Film.image -->
                                </a>
                            </div>
                        </div>

                        <div>
                            <div class="layui-col-md2">
                                <a href="movie details.html">
                                    <!-- more_movie_details，对应数据库字段 url：Film.imdb_url -->
                                    <img src="../static/godfather.jpg" width="220" height="320">
                                    <!-- image，对应对数据字段：Film.image -->
                                </a>
                            </div>

                            <div class="layui-col-md2">
                                <a href="movie details.html">
                                    <!-- more_movie_details，对应数据库字段 url：Film.imdb_url -->
                                    <img src="../static/godfather.jpg" width="220" height="320">
                                    <!-- image，对应对数据字段：Film.image -->
                                </a>
                            </div>

                            <div class="layui-col-md2">
                                <a href="movie details.html">
                                    <!-- more_movie_details，对应数据库字段 url：Film.imdb_url -->
                                    <img src="../static/godfather.jpg" width="220" height="320">
                                    <!-- image，对应对数据字段：Film.image -->
                                </a>
                            </div>

                            <div class="layui-col-md2">
                                <a href="movie details.html">
                                    <!-- more_movie_details，对应数据库字段 url：Film.imdb_url -->
                                    <img src="../static/godfather.jpg" width="220" height="320">
                                    <!-- image，对应对数据字段：Film.image -->
                                </a>
                            </div>

                            <div class="layui-col-md2">
                                <a href="movie details.html">
                                    <!-- more_movie_details，对应数据库字段 url：Film.imdb_url -->
                                    <img src="../static/godfather.jpg" width="220" height="320">
                                    <!-- image，对应对数据字段：Film.image -->
                                </a>
                            </div>

                            <div class="layui-col-md2">
                                <a href="movie details.html">
                                    <!-- more_movie_details，对应数据库字段 url：Film.imdb_url -->
                                    <img src="../static/godfather.jpg" width="220" height="320">
                                    <!-- image，对应对数据字段：Film.image -->
                                </a>
                            </div>
                        </div>

                    </div>
                </div>

                <script src="../static/layui/layui.js"></script>
                <script>
                    layui.use('carousel', function() {
                        var carousel = layui.carousel;
                        //建造实例
                        carousel.render({
                            elem: '#test1',
                            width: '90%' //设置容器宽度
                                ,
                            arrow: 'always' //始终显示箭头
                                //,anim: 'updown' //切换动画方式
                        });
                    });
                </script>
            </div>
            <br><br><br><br>


        </div>


</body>

</html>