<!DOCTYPE html>
<html lang="en">

<head>
    <title>movie details</title>
    <meta http-equiv="content-type" content="text/html" ; charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="./static/layui/css/layui.css" type="text/css">
    <script type="text/javascript" src="./static/layui/layui.all.js"></script>

    <link rel="stylesheet" type="text/css" href="./static/css/iconfont.css">
    <link rel="stylesheet" type="text/css" href="./static/css/left-side.css">

    <script type="text/javascript" src="./static/js/jquery.min.js"></script>
    <script type="text/javascript" src="./static/js/jquery.slimscroll.min.js"></script>
    <script type="text/javascript" src="./static/js/left-side-menu.js"></script>

    <link rel="stylesheet" type="text/css" href="./static/css/box.css">
    <link rel="stylesheet" type="text/css" href="./static/css/search.css">
    <script type="text/javascript" src="./static/js/search.js"></script>

    <link rel="stylesheet" type="text/css" href="./static/css/span-line.css">
    <script type="text/javascript">
    $(document).ready(function(){
        $(".pholder").eq(2).hide();
        $(".pholder").eq(3).hide();
        $(".pholder").eq(4).hide();
    });
    </script>
    <script type="text/javascript">
        function func1(){
            var index = $('#search-bd li.selected').index();
            if (index === 0){
                document.search_form.action='/searchfilmsDefault';
                document.search_form.submit();
            }
            if (index === 1){
                document.search_form.action='/searchfilmsName';
                document.search_form.submit();
            }
            if (index === 2){
                document.search_form.action='/searchfilmsDirector';
                document.search_form.submit();
            }
            if (index === 3){
                document.search_form.action='/searchfilmsActor';
                document.search_form.submit();
            }
            if (index === 4){
                document.search_form.action='/searchfilmsKeywords';
                document.search_form.submit();
            }
        }
    </script>

</head>

<body background="./static/background.png">
    <div class="container">
        <div class="left-side-menu" style="float:left; position: fixed;">
            <div class="lsm-expand-btn">
                <div class="lsm-mini-btn">
                    <label>
                <input type="checkbox" checked="checked">
                <svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="50" cy="50" r="30" />
                    <path class="line--1" d="M0 40h62c18 0 18-20-17 5L31 55" />
                    <path class="line--2" d="M0 50h80" />
                    <path class="line--3" d="M0 60h62c18 0 18 20-17-5L31 45" />
                </svg>
            </label>

                </div>
                <!--Menu-->

            </div>
            <div class="lsm-container">
                <div class="lsm-scroll">
                    <div class="lsm-sidebar">
                          <ul>
                            <li class="lsm-sidebar-item">
                                <a href="{{url_for('show_genre_country_films',genre = 'Action')}}"><i class="iconfont lsm-sidebar-icon icon_1"></i><span>Action</span><i class="my-icon lsm-sidebar-more"></i></a>
                            </li>
                            <li class="lsm-sidebar-item">
                                <a href="{{url_for('show_genre_country_films',genre = 'Thriller')}}"><i class="iconfont lsm-sidebar-icon icon_2"></i><span>Thriller</span><i class="my-icon lsm-sidebar-more"></i></a>
                            </li>
                            <li class="lsm-sidebar-item">
                                <a href="{{url_for('show_genre_country_films',genre = 'Drama')}}"><i class="iconfont lsm-sidebar-icon icon_3"></i><span>Drama</span><i class="my-icon lsm-sidebar-more"></i></a>
                            </li>
                            <li class="lsm-sidebar-item">
                                <a href="{{url_for('show_genre_country_films',genre = 'Mystery')}}"><i class="iconfont lsm-sidebar-icon icon_4"></i><span>Mystery</span><i class="my-icon lsm-sidebar-more"></i></a>
                            </li>
                            <li class="lsm-sidebar-item">
                                <a href="{{url_for('show_genre_country_films',genre = 'Crime')}}"><i class="iconfont lsm-sidebar-icon icon_5"></i><span>Crime</span><i class="my-icon lsm-sidebar-more"></i></a>
                            </li>
                            <li class="lsm-sidebar-item">
                                <a href="{{url_for('show_genre_country_films',genre = 'Animation')}}"><i class="iconfont lsm-sidebar-icon icon_6"></i><span>Animation</span><i class="my-icon lsm-sidebar-more"></i></a>
                            </li>
                            <li class="lsm-sidebar-item">
                                <a href="{{url_for('show_genre_country_films',genre = 'Adventure')}}"><i class="iconfont lsm-sidebar-icon icon_7"></i><span>Adventure</span><i class="my-icon lsm-sidebar-more"></i></a>
                            </li>
                            <li class="lsm-sidebar-item">
                                <a href="{{url_for('show_genre_country_films',genre = 'Fantasy')}}"><i class="iconfont lsm-sidebar-icon icon_8"></i><span>Fantasy</span><i class="my-icon lsm-sidebar-more"></i></a>
                            </li>
                            <li class="lsm-sidebar-item">
                                <a href="{{url_for('show_genre_country_films',genre = 'Comedy')}}"><i class="iconfont lsm-sidebar-icon icon_9"></i><span>Comedy</span><i class="my-icon lsm-sidebar-more"></i></a>
                            </li>
                            <li class="lsm-sidebar-item">
                                <a href="{{url_for('show_genre_country_films',genre = 'Sci-fi')}}"><i class="iconfont lsm-sidebar-icon icon_10"></i><span>Sci-fi</span><i class="my-icon lsm-sidebar-more"></i></a>
                            </li>
                            <li class="lsm-sidebar-item">
                                <a href="{{url_for('show_genre_country_films',genre = 'Horror')}}"><i class="iconfont lsm-sidebar-icon icon_11"></i><span>Horror</span><i class="my-icon lsm-sidebar-more"></i></a>
                            </li>
                            <li class="lsm-sidebar-item">
                                <a href="{{url_for('show_genre_country_films',genre = 'Romance')}}"><i class="iconfont lsm-sidebar-icon icon_12"></i><span>Romance</span><i class="my-icon lsm-sidebar-more"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="layui-container" style="float: right;">
            <!-- search -->
            <div class="layui-row">
                <div class="layui-col-md6 layui-col-md-offset3">
                    <div class="jq22-search-form" style="margin-left: -25%;">
                        <div id="search-bd" class="search-bd">
                            <ul>
                                <li class="selected">All</li>
                                <li>Name</li>
                                <li>Director</li>
                                <li>Actor</li>
                                <li>Descriptons</li>
                            </ul>
                        </div>
                        <div id="search-hd" class="search-hd">
                            <div class="search-bg"></div>
                            <form name="search_form" action="" method="POST">
                            <input autocomplete="off" type="text" id="s1" name="s1" class="search-input">
                            <input autocomplete="off" type="text" id="s2" name="s2" class="search-input">
                            <input autocomplete="off" type="text" id="s3" name="s3" class="search-input">
                            <input autocomplete="off" type="text" id="s4" name="s4" class="search-input">
                            <input autocomplete="off" type="text" id="s5" name="s5" class="search-input">
                            <span class="s1 pholder">Search movies</span>
                            <span class="s2 pholder">Search by name</span>
                            <span class="s3 pholder">Search by director</span>
                            <span class="s4 pholder">Search by actor</span>
                            <span class="s5 pholder">Search by descriptons</span>
                            <button type="submit" class="btn-search" onclick="func1()"><i class="layui-icon" style="font-size: 23px">&#xe609;</i>
                            </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <!-- movie details -->

            <!-- name + general info   &   rating + gross-->
            <div class="layui-row">

                <!-- name + general info -->
                <div class="layui-col-md6">
                    <p style="line-height:2.4;color:#f5cb5c; font-size:30px">
                        {{detail_film.name}}
                        <!-- name，对应数据库字段：Film.name -->
                    </p>
                    <p style="line-height:2.4; color:#b2b8be; font-size:15px">
                        {% if detail_film.time %}
                            {{detail_film.time}} |
                        {% endif %}
                        <!--{{detail_film.time}} |-->
                        <!-- time，对应数据库字段：Film.time -->
                        {% if film_genres %}
                            {{film_genres}} |
                        {% endif %}
                        <!--{{film_genres}} |-->
                        <!-- genres，对应数据库字段：Film.genres -->
                        {% if film_country %}
                            {{film_country}} |
                        {% endif %}
                        <!--{{film_country}}  |-->
                        <!-- country，对应数据库字段：Film.country -->
                        {% if detail_film.date %}
                            {{detail_film.date}}
                        {% endif %}
                        <!--{{detail_film.date}}-->
                        <!-- date，对应数据库字段：Film.date(前四个字符，年份/全写也成) -->
                    </p>
                </div>

                <!-- rating + gross  -->
                <div class="layui-col-md3 layui-col-md-offset1" style="margin-top: 20px;">
                    <div class="layui-raw">
                        <!-- rating  -->
                        <div class="layui-col-md5">
                            <div class="layui-raw">
                                <div class="layui-col-md4">
                                    <i class="layui-icon layui-icon-rate-half" style="font-size: 28px; color: #f5cb5c;"></i>
                                </div>
                                <div class="layui-col-md6" style="font-size: 26px; color: #b2b8be;margin-top: -5px;">
                                    {{detail_film.rating_value}}
                                    <!-- score，对应数据库字段：Film.rating_value -->
                                </div>
                            </div>
                        </div>

                        <div class="layui-col-md7">
                            <div class="layui-raw">
                                <div class="layui-col-md4">
                                    <i class="layui-icon layui-icon-note" style="font-size: 30px; color: #f5cb5c;"></i>
                                </div>
                                <div class="layui-col-md6" style="font-size: 18px;">
                                    <div class="span-line">
                                        <a href="{{detail_film.more_reviews_url}}">
                                            <!-- 跳转到评论页面，对应数据库字段：Film.more_reviews_url -->
                                            {{detail_film.rating_count}}
                                            <!-- rating_count，对应数据库字段：Film.rating_count -->
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- gross  -->
                        <div class="layui-col-md5 layui-col-md-offset5">
                            <div class="layui-raw">
                                <div class="layui-col-md4">
                                    <i class="layui-icon layui-icon-chart-screen" style="font-size: 30px; color: #f5cb5c;"></i>
                                </div>
                                <div class="layui-col-md6" style="font-size: 18px; color: #b2b8be;">
                                {% if detail_film.gross %}
                                    {{detail_film.gross}}
                                {% else %}
                                    No Records
                                {% endif %}
                                    <!-- gross，对应数据库字段：Film.gross -->
                                </div>
                            </div>
                        </div>
                    </div>


                </div>
                <br>

            </div>

            <br>


            <!-- main part -->
            <div class="layui-row">

                <!-- image  -->
                <div class="layui-col-md3">
                    <img class="box" src="{{detail_film.image}}" onerror='this.src="./static/no picture.jpg"' width="220" height="300">
                    <!-- image，对应对数据字段：Film.image -->
                </div>

                <!-- text  -->
                <div class="layui-col-md7" style="background-color: rgba(169, 169, 169, 0.13);">
                    <p style="line-height:3; color:#e8eddf; font-size:15px">
                        <span style="color: #f5cb5c;">&nbsp;&nbsp;OtherName : &nbsp;
                    </span>
                        {% if detail_film.other_name %}
                            {{detail_film.other_name}}
                        {% else %}
                            No Records
                        {% endif %}
                        <!-- otherName，对应数据库字段：Film.otherName  -->
                    </p>
                    <p style="line-height:3; color:#e8eddf; font-size:15px">
                        <span style="color: #f5cb5c;">&nbsp;&nbsp;Actor:  &nbsp;
                    </span> {{film_actors}}
                        <!-- Actor，对应数据库字段：Actors.actorName  -->
                    </p>
                    <p style="line-height:3; color:#e8eddf; font-size:15px">
                        <span style="color: #f5cb5c;">&nbsp;&nbsp;Director : &nbsp;
                    </span>
                        {% if film_director.director_name %}
                            {{film_director.director_name}}
                        {% else %}
                            No Records
                        {% endif %}
                        <!-- director，对应数据库字段：Directors.directorName  -->
                    </p>
                    <p style="line-height:3; color:#e8eddf; font-size:15px">
                        <span style="color: #f5cb5c;">&nbsp;&nbsp;Language : &nbsp;
                    </span> {{film_languages}}
                        <!-- Language，对应数据库字段：Film.languages  -->
                    </p>
                    <p style="line-height:3; color:#e8eddf; font-size:15px">
                        <span style="color: #f5cb5c;">&nbsp;&nbsp;Production : &nbsp;
                    </span> {{film_productions}}
                        <!-- production，对应数据库字段：Productions.productionName  -->
                    </p>
                    <p style="line-height:3; color:#e8eddf; font-size:15px">
                        <span style="color: #f5cb5c;">&nbsp;&nbsp;Key words : &nbsp;
                    </span> 
                        {% if film_keywords %}
                            {{film_keywords}}
                        {% else %}
                            No Records
                        {% endif %}
                        <!-- keywords，对应数据库字段：Film.keywords  -->
                    </p>

                </div>

                <br>
            </div>



            <div class="layui-raw">
                <div class="layui-col-md10" style="line-height:2.4; color: #b2b8be; font-size:15px;text-align:justify">
                {% if detail_film.description %}
                    {{detail_film.description}}
                {% else %}
                    No Records
                {% endif %}
                    <!-- description，对应数据库字段：Film.description  -->
                </div>
            </div>
            <hr style="background-color:rgba(12, 12, 11, 0)">
            <hr style="background-color:rgba(12, 12, 11, 0)">


            <!-- photos  -->
            <div class="layui-raw" style="margin-right: 13px;">
                <div class="layui-col-md4 layui-col-md-offset8">
                    <a href="{{film_photos[0]}}" class="layui-btn " style="color: #e8eddf;">
                        <!-- photos，对应数据库字段 url：Film.photos -->
                        <span style="margin-left: -2%;margin-right: 3%; font-size: 15px;">More movie photos</span>
                        <i class="layui-icon layui-icon-picture" style="font-size: 20px; color: #e8eddf;margin-right: -5px;"></i>
                    </a>
                </div>
            </div>

            <hr style="background-color:rgba(12, 12, 11, 0)">
            <hr style="background-color:rgba(12, 12, 11, 0)">

            <!-- storyline -->
            <div class="layui-raw">
                <p style="line-height:3; color:#f5cb5c; font-size:30px">
                    Storyline
                </p>
                <p class="layui-col-md10" style="line-height:2.2; color: #b2b8be; font-size:15px;text-align:justify">
                    {% if detail_film.storyline %}
                        {{detail_film.storyline}}
                    {% else %}
                        No Records
                    {% endif %}
                    <!-- sotryline，对应数据库字段：Film.stroyline -->
                </p>
            </div>
            <hr style="background-color:rgba(12, 12, 11, 0)">
            <hr style="background-color:rgba(12, 12, 11, 0)">
            <hr style="background-color:rgba(12, 12, 11, 0)">


            <!-- more movie details  -->
            <div class="layui-raw">
                <div class="layui-col-md4 layui-col-md-offset8">
                    <a href="{{detail_film.imdb_url}}" class="layui-btn " style="color: #e8eddf; margin-top: 20px;">
                        <!-- more_movie_details，对应数据库字段 url：Film.imdb_url -->
                        <span style="margin-left: -2%;margin-right: 3%; font-size: 15px;">More movie details</span>
                        <i class="layui-icon layui-icon-about" style="font-size: 20px; color: #e8eddf;margin-right: -5px;"></i>

                    </a>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                </div>
            </div>

        </div>
    </div>



</body>

</html>
